<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWS_ACCESS_KEY" value="{YOUR ACCESS KEY}" />
    <add key="AWS_SECRET_KEY" value="{YOUR SECRET KEY}" />
    <!-- Since Amazon is not Windows, urls are case sensitive. 
        All of my urls are set to be lcase, yours may not. False to not force lower paths -->
    <add key="AWS_Auto_Lower_Paths" value="true" />
    <!-- These are the fields required by project -->
    <add key="Project_Required_Fields" value="essthreebucket,targetstaticdir,minifierdir,websiteassembly" />
  </appSettings>
</configuration>